body{
    margin: 50;
    font-family: 'Lato', sans-serif;
    background-image: url(../../media/starry.jpg) !important;
    
}
.jumbotron-hero {
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}