{% extends 'base.html' %}

<!-- Head -->
{% block head %} 
    <title>arnav.space - About Me</title>
{% endblock %}

<!-- Body -->
{% block body %} 

    <div class="hero-about">
        <!-- Jumbotron (About Me) -->
        <div class = "jumbotron jumbotron-fluid text-white text-center" style=" margin-bottom: 0; background: transparent;"> 
            <div class = "container m-0" style="padding-top: 5vh;">
                <h1 class= "display-1 text-left font-weight-bold">About Me</h1>
            </div>
        </div>

        <div class="m-auto p-5" style="background: transparent;">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti, voluptas iure minima impedit iusto beatae? Dolorum nisi maxime odit sequi, delectus ipsam soluta distinctio cupiditate aut cum, quis, voluptas magnam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae doloremque rerum similique dolores magnam culpa quisquam perferendis obcaecati inventore. Veritatis similique assumenda corrupti voluptas quod minus maiores suscipit tenetur eaque?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero asperiores sint impedit dolores eum repellendus eius velit, nostrum repellat laborum voluptatibus voluptate commodi suscipit at libero earum animi quibusdam totam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ducimus laudantium distinctio, natus repellat quaerat est culpa quae vitae quo inventore deleniti iusto delectus, reprehenderit impedit praesentium vero nisi eaque.
            </p>
        </div>

    </div>
    
{% endblock %}

