{% extends 'base.html' %}

<!-- Head -->
{% block head %} 
    <title>arnav.space</title>
    <meta name = "description" content="A personal website for Arnav Mohapatra. Arnav is an Aerospace engineering student at University at Buffalo.">
{% endblock %}

<!-- Body -->
{% block body %} 
    <!-- Jumbotron (Howdy) -->
    <div class = "jumbotron jumbotron-fluid text-white text-center jumbotron-hero" style=" margin-bottom: 0;"> 
        <div class = "container m-auto" style="padding-top: 25vh;">
            <h1 class= "display-1 text-center font-weight-bold">Howdy, I'm Arnav</h1>
            <p class= "lead text-center font-weight-normal"> I'm an Aerospace Engineering student at the University at Buffalo.</p>
        </div>
    </div>

    <!-- Navigation Cards -->
    <div class="card-deck">
        <div class="card">
            <img src="../static/media/sunset.JPG" class="card-img-top img-fluid" alt="..." style="height: auto;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="../static/media/beach.JPG" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="../static/media/starry.JPG" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    

    <div class="text-white">
        <h1 class= "display-4 text-left">About Me</h1>
        <br>
        <p class= "lead text-left">  I am currently pursuing a dual Bachelors degree program with Mechanical and Aerospace Engineering at the <a href="http://engineering.buffalo.edu/mechanical-aerospace.html"> University at Buffalo</a>. I graduated from Blind Brook High School in 2020. In my free time I like </p>
    </div>
    




{% endblock %}
