{% extends 'base.html' %}

<!-- Head -->
{% block head %} 
    <title>arnav.space</title>
    <meta name = "description" content="A personal website for Arnav Mohapatra. Arnav is an Aerospace engineering student at University at Buffalo.">
{% endblock %}

<!-- Body -->
{% block body %} 

    <!-- Jumbotron (Howdy) -->
    <div class = "jumbotron jumbotron-fluid text-white text-center jumbotron-hero" style=" margin-bottom: 0;"> 
        <div class = "container" style="padding-top: 14rem;">
            <h1 class= "display-1 text-center">Howdy, I'm Arnav</h1>
            <p class= "lead text-center"> I'm an Aerospace Engineering student at the University at Buffalo.</p>
        </div>
    </div>

    <div class="text-white">
        <h1 class= "display-4 text-left">About Me</h1>
        <br>
        <p class= "lead text-left">  I am currently pursuing a dual Bachelors degree program with Mechanical and Aerospace Engineering at the <a href="http://engineering.buffalo.edu/mechanical-aerospace.html"> University at Buffalo</a>. I graduated from Blind Brook High School in 2020. In my free time I like </p>
    </div>
    




{% endblock %}
